<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item color="warning  ">
      
      <ion-avatar slot="start">
        <img src="assets/avatar-finn.png">
        
      </ion-avatar>
      
      <ion-label>
        <h2><b><ion-badge color="warning"><ion-icon name="notifications-circle-outline"></ion-icon></ion-badge> Finn </b></h2>
        <p>Bring computer network manual today</p>
      </ion-label>
      
    <ion-badge color="warning">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="assets/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <p>Create ppt for class</p>
      </ion-label>
      
    <ion-badge color="success">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="assets/avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <p>check papers</p>
      </ion-label>
      
    <ion-badge color="success">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="warning">
      <ion-avatar slot="start">
        <img src="assets/avatar-luke.png">
      </ion-avatar>
      <ion-label>
        <h2><b><ion-badge color="warning"><ion-icon name="notifications-circle-outline"></ion-icon></ion-badge> Luke</b></h2>
        <p>do assigenment of cn</p>
      </ion-label>
      
    <ion-badge color="warning">07/04/2020</ion-badge>
    </ion-item>
  
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="assets/avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>  
        <p>Create Synopsis</p>
      </ion-label>
      
    <ion-badge color="success">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="danger">
      <ion-avatar slot="start"> 
        <img src="assets/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>
          complete assigenment of functional english
        </p>
      </ion-label>
      
    <ion-badge color="danger">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="danger">
      <ion-avatar slot="start">
        <img src="assets/avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <p>Create question paper for exam</p>
      </ion-label>
      
    <ion-badge color="danger">07/04/2020</ion-badge>
    </ion-item>

    <ion-item color="warning">
      <ion-avatar slot="start">
        <img src="assets/avatar-yoda.png">
      </ion-avatar>
      <ion-label>
        <h2><b><ion-badge color="warning"><ion-icon name="notifications-circle-outline"></ion-icon></ion-badge> Yoda</b></h2>
        <p>clean the classroom</p>
      </ion-label>
      
    <ion-badge color="warning">07/04/2020</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
