<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon slot="icon-only" name="ion-back-button"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        
        <h2>Finn</h2>
        <p>Lissed up day...</p>
      </ion-label>
      
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-luke.png">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  
    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>

    <ion-item button (click)="sendtask()">
      <ion-avatar slot="start">
        <img src="assets/avatar-yoda.png">
      </ion-avatar>
      <ion-label>
        <h2>Yoda </h2>
        <p>Do or do not. There is no try...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
